<html>
	<head>
		<title>Successfully Completed</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
        <div class="container form-container">
            <div class="whatsapp-form">
                <div class="card">
                    <img src="Images/check-box.jpg" class="image-position">
                    <div class="success-message"><h2><center>Successfully Submited</center></h2></div>
                </div>
            </div>
        </div> 
    </body>
</html>